.add_shop_cont {
    width: 100%;
    height: 90%;
}
.add_shop_cont_light {
    background-color: white;
}
.add_shop_cont_light * {
    color: black;
}
.add_shop_cont_dark {
    background-color: black;
}
.add_shop_cont_dark * {
    color: white;
}