.navbar{
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.navbar_light{
    background-color: black;
}
.navbar_dark{
    background-color: white;
}

.nav_btn{
    border: none;
    border-radius: 20px;
    text-decoration: none;
    background-color: grey;
    padding: 2.5%;
    font-size: 1em;
    cursor: pointer;
}
.nav_btn_light{
    color: white;
}
.nav_btn_light:hover{
    background-color: rgb(85, 85, 85);
}
.nav_btn_dark{
    color: white;
}
.nav_btn_dark:hover{
    background-color: rgb(85, 85, 85);
}
