.navbar{
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.navbar_light{
    background-color: black;
}
.navbar_light *{
    color: white;
}
.navbar_dark{
    background-color: white;
}
.navbar_dark *{
    color: black;
}
